.env
crypto_chart.png
output.txt
chatGPT_script.py
**/__pycache__/
preferences.db
tech_debt.txt
**/symbols_to_test.txt
*.log
back_tester/data/
back_tester/store/
back_tester/metadata/
back_tester/preprocessed_configs/
back_tester/uuid
back_tester/status
**/clickhouse/
status
uuid
data/
store/
metadata/
preprocessed_configs/
metadata_dropped/
**/reports
models/
